body{
background-image: src"https://static.vecteezy.com/system/resources/previews/001/940/680/large_2x/dark-purple-pattern-with-curved-lines-vector.jpg";
background-color: rgb(67, 13, 117);
font-family: Arial, Helvetica, sans-serif;
padding:3%;
/* padding-top: ; */
color: aliceblue;

}
h1{font-size: 3vw;}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
}
div .box{
    padding:1%;
    background-color: #ffffff;
    color:rgb(67, 13, 117);
    display: flex;
    justify-content: center;
    padding: 10%;
    flex-direction: column;
    border-radius: 10%;
}
.spin{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}
input:focus{
    border: 3px solid rgb(135, 86, 180);
}
button{
    border:0;
    border-radius: 10px;
}